.gallery {
  list-style-type: none;
  padding: 0px;
}

.gallery > li {
  box-sizing: border-box;
  float: left;
  padding-bottom: 15px;
}

/*.gallery > li > a > img {
  max-width: 100%;
  height: auto;
  height: 250px;
  min-height: auto;
  max-height: 250px;
}*/

@media (min-width: 767px) {
  .gallery > li {
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .gallery > li {
    clear: left;
  }
  .gallery > li > a > img {
    max-width: 100%;
    height: auto;
  }
}