@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  background-image: url('../img/main-background.png');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Arial, sans-serif;
  margin-top: 0px;
}

/* Colours */
.white {color: white;}
.wheat {color: #F0BEA4;}
.steelblue {color: #4C9CCC;}
.darkslategray {color: #333333}
.darkgreen {color: #B8C381;}
.oldrose {color: #984843;}
.skeptic {color: #C6E7CE;}
.snowymint {color: #CEFFCE;}
.uodblue {color: #4365E2;}

#site-wrapper {
  min-height: 100%;
  height: auto !important;
  width: auto !important;
  height: 100%;
  width: 100%;
  margin: 0 auto /*-155px*/;
}

.inner {
  padding:20px;
  box-shadow: 10px 5px 5px #888;
}

#masthead, main, nav, footer {
  /*clear: both;*/
  overflow: hidden;
}


/* Banner Image */
#banner-container {
  height: 350px !important;
  width: 100% !important;
  overflow: hidden;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/dundee-banner.jpg");
}

#site-banner {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
}


/* Navbar Area */
#masthead {
  padding-left:20px;
  padding-right:40px;
  /*background-color: #99D8FF;*/
}

#masthead-brand {
  margin-top: 15px;
  margin-bottom: 0px;
  color: #4365E2;
}

#masthead-icon {
  float: left;
  margin-right: 10px;
}

#masthead-name {
  margin-bottom: 5px;
}

#masthead-nav {
  padding-bottom: 20px;
  padding-left: 0px;
}

#masthead-nav > li {
  display: inline-block;
  /*border: 1px solid black;*/
}

#masthead-nav > li + li {
  margin-left: 20px;
}

#masthead-nav > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #4365E2;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
}

#masthead-nav > li > a:hover,
#masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(169, 169, 169, .25);
  border-width: inherit inherit 4px inherit;
}

#masthead-nav > .active > a,
#masthead-nav > .active > a:hover,
#masthead-nav > .active > a:focus {
  color: rgba(51, 51, 51, .75);
  border-bottom-color: rgb(48, 48, 48);
}

@media (min-width: 768px) {
  #masthead-icon, #masthead-brand, #masthead-name {
    float: left;
  }
  #masthead-nav {
    float: right;
    margin-left: 30px;
  }
}

/* Main site content */
#main-site-content, .right-column-content {
  margin: 10px 5px 5px;
}

#main-site-content {
  /*margin-left: 25px;*/
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
}

.right-column-content {
  /*margin-right: 25px;*/
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
  clear: right;
}

@media (min-width: 768px) {
  #main-site-content {
    float: left;
    width: 62%;
    background-color: white;
  }
  .right-column-content {
    float: right;
    width: 29%;
    min-height: 100%;
    background-color: white;
  }
}

.usefulLinks {
  padding-left: 10px;
}


/* Footer */
#mastfoot {
  color: #4365E2;
  text-align: center;
  /*height: 155px;*/
  margin-top: 1em;
}